@font-face {
    font-family: "Joystix Monospace";
    src: url("Fonts/joystix\ monospace.ttf");
    }

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Joystix Monospace';
    color: var(--text-color);
    text-align: center;
}

:root{
    --bg-color:#1a1917;
    --text-color:#F9EFE4;
    --text-selection:cadetblue;
    --h1-color:#F9EFE4;
    --h1-selection:#5f9ea0;
    --strong:cadetblue;
    --strong-selection:#F9EFE4;


    --btn-play:#5F9EA0;
    --btn-text:var(--btn-play-shine);
    --btn-play-border:#145053;
    --btn-play-shadow:#26696d;
    --btn-play-highlight:#99C0C2;
    --btn-play-highlight2:#3a8386; 
    --btn-play-shine:#c6e2e4; 
}

.lightmode{
    --bg-color:#F9EFE4;
    --text-color:#1a1917;
    --text-selection:cadetblue;
    --h1-color:cadetblue;
    --h1-selection:#1a1917;
    --strong:rgb(216, 127, 11);
    --strong-selection:#1a1917;

    --btn-play:#B8AFA5;
    --btn-text:#F9EFE4;
    --btn-play-border:#36332A;
    --btn-play-shadow:#6D6964;
    --btn-play-highlight:#E0D4C7;
    --btn-play-highlight2:#9b9187;
    --btn-play-shine:#FFFFFF;
}

body{
    background-color: var(--bg-color);
    overflow: hidden;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row{
    display:flex;
    justify-content: center;
    align-items: center; 
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    background-color:var(--nav-color);
}

.btn-language, .btn-light-dark{
    transform: scale(0.5);
}

.btn:hover{
    cursor: pointer;
    transform: scale(0.54);  
}

.btn-content img{
    transform: scale(1.5);
    margin: 0 1.2em 0 0;
    user-select: none;
}

.btn-light-dark-text, .btn-language-text{
    font-size: 1.7rem !important;
    user-select: none;
}

header{
    width: 100%;
    min-height: 90vh;
    justify-content: space-evenly;
}

header img{
    width: 300px;
    animation: btn-play 3s infinite ease-in-out;
    margin-bottom: 200px;
}

img::selection{
    user-select: none;
}

.header-text{
    gap: 5em;
    margin-right: 200px;
}

h1{
    font-size: 4rem;
    color: var(--h1-color);
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 1rem;
}

p{
    font-size: 0.8rem;
}

h1::selection{
    background-color: var(--h1-selection);
}

h2::selection, h3::selection, p::selection{
    background-color: var(--text-selection);
}

strong{
    color: var(--strong);
}

strong::selection{
    background-color: var(--strong-selection);
}

.btn{
    position: relative;
    width: 265px;;
    height: 150px;
}

.btn-play{
    animation: btn-play 2s infinite ease-in-out;
}

@keyframes btn-play{
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(10px);
    }
}

.btn-play:hover{
    cursor: pointer;
}

.btn-center{
    background-color: var(--btn-play);
    display: flex;
    position: relative;
    width: 220px;
    height: 110px;
    top:20px;
    left:10px;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 0px var(--btn-play-border), -10px 0px var(--btn-play-border);
}

.btn-center::after{
    content:'';
    display: block;
    position: absolute;
    background-color: var(--btn-play-shadow);
    width: 15px;
    height: 110px;
    right: -25px;
    box-shadow: 10px 0px var(--btn-play-border);
}

.btn-center p{
    user-select: none;
    font-size: 2.5rem;
    color: var(--btn-text);
    text-shadow: -3px -3px var(--btn-play-border), -3px 3px var(--btn-play-border), 3px -3px var(--btn-play-border), 3px 3px var(--btn-play-border);
}

.btn-border{
    background-color: var(--btn-play-border);
    width: 220px;
    height: 10px;
}

.btn-border-top{
    z-index: 1;
    position: absolute;
    top:10px;
    left: 10px;
    box-shadow: 0px 10px var(--btn-play-highlight);
}

.btn-border-top::after{
    content:'';
    display: block;
    position: absolute;
    background-color: var(--btn-play-border);
    width: 25px;
    height: 10px;
    right: -25px;
}

.btn-highlight{
    z-index: 1;
    position:absolute;
    width: 30px;
    height: 10px;
    background-color: var(--btn-play-shine);
    top:20px;
    right:35px;
}

.btn-highlight::before{
    content: '';
    display: block;
    position: absolute;
    background-color: var(--btn-play-shine);
    width: 10px;
    height: 10px; 
    left:-20px;
}

.btn-highlight::after{
    content: '';
    display: block;
    position: absolute;
    background-color: var(--btn-play-highlight2);
    width: 15px;
    height: 10px; 
    left:40px;
}

.btn-border-bottom{
    position: absolute;
    bottom:10px;
    left: 10px;
    box-shadow: 0px -10px var(--btn-play-shadow);
}

.btn-border-bottom::after{
    content:'';
    display: block;
    position: absolute;
    background-color: var(--btn-play-border);
    width: 25px;
    height: 10px;
    right: -25px;
    box-shadow: 0px -10px var(--btn-play-border);
}

.clouds{
    z-index: -1;
    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;
}

.cloud{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color:#9b9187;
    animation: updown 3s ease-in-out infinite, across 30s linear infinite;
    border-radius: 50% 50% 0% 0;
}
.cloud::after{
    content: '';
    display:block;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color:#9b9187 ;
    border-radius: 50%;
    bottom: 0;
    left:-30px;
}

.cloud::before{
    content: '';
    display:block;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color:#9b9187;
    border-radius: 50%;
    bottom: 0;
    right:-30px;
}

 @keyframes updown{
    0%{
        transform:translateY(5vh) translateX(0);
    }
    50%{
        transform:translateY(0vh) translateX(0);
    }
    100%{
        transform:translateY(5vh) translateX(0);
    }
}

@keyframes across{
    0%{
    }
    100%{
        transform:translateX(100vw)
    }
}

main{
    display:none;
    background-color: #1a1917;
    width: 100%;
    height: 100vh;
}


.hide{
    display: none;
}

