@font-face {
    font-family: "Joystix Monospace";
    src: url("Fonts/joystix\ monospace.ttf");
    }

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Joystix Monospace';
    color: var(--white);
    text-align: center;
}

:root{
    --white:#F9EFE4;
    --black:#1a1917;
    --strong:cadetblue;
    --btn_text:var(--btn_play_highlight);
    /* --btn_play:#B8AFA5; */
    --btn_play:#9dc4cb;
    /*--btn_play_border:#36332A;*/
    --btn_play_border:#17616d;
    /*--btn_play_shadow:#6D6964;*/
    --btn_play_shadow:#6396a1;
    /*--btn_play_highlight:#E0D4C7;*/
    --btn_play_highlight:#cee3e6;
    /* --btn_play_highlight2:#9b9187; */
    --btn_play_highlight2:#8eb7c2; 
    /* --btn_play_shine:#EDEEE8; */
    --btn_play_shine:#ffffff; 
}

body{
    background-color: var(--black);
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    min-height: 100vh;
    gap: 5em;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 1rem;
}

p{
    font-size: 0.8rem;
}

strong{
    color: var(--strong);
}

.btn-play{
    position: relative;
    width: 265px;;
    height: 150px;
    animation: btn-play 2s infinite ease-in-out;
}

@keyframes btn-play{
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(10px);
    }
}

.btn-play:hover{
    cursor: pointer;
}

.btn-play-center{
    background-color: var(--btn_play);
    display: flex;
    position: relative;
    width: 220px;
    height: 110px;
    top:20px;
    left:10px;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 0px var(--btn_play_border), -10px 0px var(--btn_play_border);
}

.btn-play-center::after{
    content:'';
    display: block;
    position: absolute;
    background-color: var(--btn_play_shadow);
    width: 15px;
    height: 110px;
    right: -25px;
    box-shadow: 10px 0px var(--btn_play_border);
}

.btn-play-center p{
    font-size: 2.3rem;
    color: var(--btn_text);
    text-shadow: -3px -3px var(--btn_play_border), -3px 3px var(--btn_play_border), 3px -3px var(--btn_play_border), 3px 3px var(--btn_play_border);
}

.border{
    background-color: var(--btn_play_border);
    width: 220px;
    height: 10px;
}

.border-top{
    z-index: 1;
    position: absolute;
    top:10px;
    left: 10px;
    box-shadow: 0px 10px var(--btn_play_highlight);
}

.border-top::after{
    content:'';
    display: block;
    position: absolute;
    background-color: var(--btn_play_border);
    width: 25px;
    height: 10px;
    right: -25px;
}

.btn-play-highlight{
    z-index: 1;
    position: absolute;
    width: 30px;
    height: 10px;
    background-color: var(--btn_play_shine);
    top:20px;
    right:35px;
}

.btn-play-highlight::before{
    content: '';
    display: block;
    position: absolute;
    background-color: var(--btn_play_shine);
    width: 10px;
    height: 10px; 
    left:-20px;
}

.btn-play-highlight::after{
    content: '';
    display: block;
    position: absolute;
    background-color: var(--btn_play_highlight2);
    width: 15px;
    height: 10px; 
    left:40px;
}

.border-bottom{
    position: absolute;
    bottom:10px;
    left: 10px;
    box-shadow: 0px -10px var(--btn_play_shadow);
}

.border-bottom::after{
    content:'';
    display: block;
    position: absolute;
    background-color: var(--btn_play_border);
    width: 25px;
    height: 10px;
    right: -25px;
    box-shadow: 0px -10px var(--btn_play_border);
}

